.mainWrapper{
    
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
    
    
}

.boxContainer{
    position: relative;
    top:50%;
    transform:translateY(-50%);
    margin:auto;
    border-radius: 15px;
    width: 40vw;
    height: fit-content;
    background-color: whitesmoke;
    padding: 10px;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    border-radius: 8px;
    padding: 5px;
    margin-top: 2%;
    width:50%;


}
.Button{
    border-radius: 8px;
    padding: 10px;
    margin-top: 2%; 
}
.title{
    color: lightgreen;
}
.extraOption{
    margin-top: 10px;
    color: steelblue;
}
#response{
    color: red;
    font-size: 18px;
}
